body {
	background: black;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

#ezwall-container {
	display:block;

    position:absolute;
    top:0;
    left:0;
    
    width:100%;
    height:100%;
}

#header {
	position:absolute;
    top:0;
    left:0;
	z-index: 0;
    
    width:100%;
	height: 35px;
	display: none;

	background: grey;
	background-color: grey; /* Fall-back color */
	background-image: -webkit-linear-gradient(top, #808080, #606060);
	background-image: -moz-linear-gradient(top, #808080, #606060);
	background-image: linear-gradient(top, #808080, #606060);
	
	opacity: 0.95;
}

#header-display-zone {
    position:absolute;
    top:0;
    left:0;
    
    width:100%;
	height: 20px;
}

#main-menu a {
	text-decoration: none;
}

#main-menu #view-name {
	text-decoration: none;
	color: white;
	font-weight: bold;
	margin: 5px;
}

#dashboard {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

#build-grid {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

#build-grid .job {
	margin: 8px;
	float: left;
	font-size: 2em;
	text-align: center;
	border-radius: 10px;
	box-shadow: 2px 2px 3px gray;
	
	/* CSS3 Box layout */
	
	display: -webkit-box;
	display: -moz-box;
	display: -o-box;
	display: -ms-box;
	display: box;
	
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-o-box-orient: vertical;
	-ms-box-orient: vertical;
	box-orient: vertical;
	
  	-webkit-box-pack: center;
  	-moz-box-pack: center;
  	-o-box-pack: center;
  	-ms-box-pack: center;
  	box-pack: center;
  	
  	-webkit-box-align: center;
  	-moz-box-align: center;
  	-o-box-align: center;
  	-ms-box-align: center;
  	box-align: center;
}

#build-grid .job a {
	text-decoration: none;
}

#build-grid .job-text {
	color: white;
	font-weight: bold;
	display:inline-block;
	vertical-align: middle;
}

.form label, .form input {
	vertical-align: middle;
	height: 30px;
	margin: 5px;
}

.form label {
	width: 150px;
	float: left; clear: left;
	text-align: right;
}

.form input {
	width: 150px;
}

.form input[type=checkbox] {
	width: 20px;
	margin-right: 90px;
}
